# general
*~
*.log
*.gz
tmp
dump
.DS_Store
.history
dump.rdb
bestsign-sdk-logs
MIYOU_LOG_DIR_IS_UNDEFINED

# VSCode
**/.vscode/

# Intellij
**/.idea/
*.iml

# Eclipse
.settings
.sts4-cache
.cache-main
.cache-tests
.cache
.project
.classpath
.scala_dependencies
.factorypath
bin
output

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
flyway-jooq-sbt/project/project
flyway-jooq-sbt/project/target
flyway-jooq-sbt/target

# Play
logs
RUNNING_PID

# Dev
conf/dev.conf

# Jooq Generated classes
call-core/src/main/java/com/yqg/core/model/generated/

# Javascript package
bower_components/*

#playground
call-core/src/test/java/com/yqg/core/playground/*
local.deploy.sh
xxl-job-admin.log